@import "utils.css";
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

html, body {
	height: 100%;
}

html {
	font-size: 10px;
	line-height: 1.4;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.6rem; /* 10px * 1.6 = 16px */
	color: #999999;
}



.main-header {
	background: #989da4 url('../img/bg/background-image.jpg') no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
}

.main-header .container {
	min-height: 711px;
}

.main-header .top-section {
	min-height: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}

.main-navigation {
	width: 530px;
}

.nav-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
	
	margin: 0;
	padding: 0;
	min-height: 50px;
	list-style-type: none;
}

.nav-list-item a {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
}

.nav-list-item a:hover,
.nav-list-item a:active,
.nav-list-item a:focus {
	color: #00a5ff;
}

/* Billboard */
.billboard-section {
	min-height: 650px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.billboard {
	width: 700px;
	min-height: 280px;
	text-align: center;
	color: #fff;
}

.billboard-text {
	margin-bottom: 88px;
}

.billboard-text h1 {
	margin: 0;
	margin-bottom: 35px;
	font-family: 'Lora', serif;
	font-size: 58px;
	font-weight: 700;
}

.billboard-text p {
	font-size: 25px;
	font-weight: 400;
	line-height: 23px;
}

.btn {
	display: inline-block;
	width: 280px;
	height: 63px;
	padding-top: 13px;
	font-size: 25px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #00a5ff;
	border-radius: 25px;
	box-shadow: 1px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
}

.btn-get-started {
	width: 320px;
	height: 72px;
	padding-top: 17px;
	border-radius: 35px;
}

/* // Billboard */

/* // Header */


/*
	Our Services
*/

.services {
	min-height: 537px;
	padding-top: 60px;
}

h2.main-title {
	position: relative;
	margin: 0;
	font-family: 'Lora', serif;
	font-size: 42px;
	font-weight: 700;
	color: #3a3f4b;
	text-align: center;
	text-transform: uppercase;
}

h2.main-title::after {
	position: absolute;
	left: 45%;
	bottom: -23px;
	content: "";
	width: 147px;
	height: 4px;
	background-color: #00a5ff;
}

.services h2.main-title {
	margin-bottom: 130px;
}

.services-list {
	margin: 0;
	padding: 0;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.services-list .services-item {
	width: 252px;
	min-height: 205px;
	text-align: center;
	list-style-type: none;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	background: transparent url('../img/icons/icon-logo-design.png') no-repeat top center;
}

.services-list .services-item:nth-child(2) {
	background: transparent url('../img/icons/icon-web-design-.png') no-repeat top center;
}

.services-list .services-item:nth-child(3) {
	background: transparent url('../img/icons/icon-branding-.png') no-repeat top center;
}

.services-list .services-item:nth-child(4) {
	background: transparent url('../img/icons/icon-ill.png') no-repeat top center;
}

.services-list .services-item h3.services-subtitle {
	margin: 0;
	margin-bottom: 28px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #3a3f4b;
	transform: scaleY(1.0002);
	text-transform: uppercase;
}

.services-list .services-item h3.services-subtitle::after {
	content: "";
	position: absolute;
	top: 35px;
	left: 40%;
	width: 41px;
	height: 1px;
	border: 1px solid #6a6a6a;
	background-color: #3a3f4b;
}

.services-list .services-item p {
	margin: 0;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	transform: scaleY(1.0002);
}

/*
	* //Our Services
*/


/*
	* Portfolio
*/
.portfolio {
	padding-top: 45px;
	min-height: 1153px;
	background-color: #f5f6f8;
}

.portfolio .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio h2.main-title {
	margin-bottom: 63px;
}

.portfolio-filter {
	width: 550px;
	min-height: 10px;
	margin-bottom: 50px;
	text-transform: uppercase;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.portfolio-filter .portfolio-filter__item {
	list-style-type: none;
}

.portfolio-filter .portfolio-filter__item a {
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	color: #999;
}

.portfolio-list {
	margin: 0;
	margin-bottom: 47px;
	padding: 0;
	min-height: 715px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}

.portfolio-list li {
	width: 380px;
	height: 350px;
	margin-bottom: 15px;
	list-style-type: none;
	box-shadow: 1px 2px 4.9px 0.1px rgba(0, 0, 0, 0.15);
}

.portfolio-list li .portfolio-image {
	margin: 0;
	padding: 0;
}

.portfolio-list .portfolio-image img {
	width: 380px;
	height: 281px;
}

.portfolio-list .filter-item-description {
	padding-top: 18px;
	padding-left: 32px;
	padding-right: 32px;
	font-size: 18px;
	font-weight: 600;
}

/*
	* // Portfolio
*/

/*
	* Brands
*/
.brands {
	min-height: 430px;
	padding-top: 60px;
}
.brands .main-title {
	margin-bottom: 100px;
}

.brands-list {
	min-height: 97px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.brands-list .brands-list__item {
	list-style-type: none;
}

.brands-list .brands-list__item a {
	width: 124px;
	height: 97px;
	display: table-cell;
	opacity: .7;
	vertical-align: middle;
}

.brands-list .brands-list__item a:hover,
.brands-list .brands-list__item a:active,
.brands-list .brands-list__item a:focus {
	opacity: 1;
}

/*
	* // Brands
*/

/*
	* Testimonials
*/

.testimonials {
	min-height: 657px;
	padding-top: 50px;
	background-color: #f5f6f8;
}

.testimonials h2.main-title {
	margin-bottom: 80px;
}

.testimonials-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.testimonial {
	width: 560px;
	min-height: 145px;
	font-family: 'Lora', serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	color: #3a3f4b;
}

.testimonial .user-photo {
	width: 138px;
	height: 138px;
	margin: 0 auto;
	margin-bottom: 38px;
}

.user-review p {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
}

.user-review cite {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	font-style: normal;
	color: #3a3f4b;
}

/*
	* // Testimonials
*/

/*
	* Footer
*/
.footer-contacts {
	padding-top: 84px;
	background-color: #3b404c;
}

.footer-top-section {
	margin-bottom: 111px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

h2.header-title {
	margin: 0;
	font-family: 'Lora', serif;
	color: #fff;
	font-size: 33px;
	font-weight: 700;
	line-height: 24px;
}

.footer-list {
	margin: 0;
	padding: 0;
	width: 460px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-list .footer-list-item {
	list-style-type: none;
}

.footer-list .footer-list-item a {
	font-size: 20px;
	font-weight: 400;
	line-height: 43px;
	color: #fff;
	text-decoration: none;
}

.footer-contacts-us


/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops - adaptive styles bofore 992px */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets - adaptive styles bofore 768px */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones - adaptive styles bofore 480px */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina - adaptive styles bofore 320px */
@media only screen and (max-width : 320px) {

}